body{
  text-align: center;
  font-style: normal;
  color: rgb(122, 62, 179);
  display: flex;
  justify-content: center;
}
#container{
  
  width: 70%;
  padding: 1em;
  border: 1px solid blueviolet;
}
#cabecera{
  border: 2px solid red;
}
#post{
  text-transform: lowercase;
  font-size: 20px;
  letter-spacing: -1px;
  text-decoration: dashed;
}